.discography{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;

}

.discography::before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 122%;
    background-image: url(img/backgroundDiscography.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
  
}

.discographyTittle{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    letter-spacing: 3;
    font-weight: 800;
    font-size: 4.5rem;
    color: var(--medium);
    margin-left: 3vw;
    align-self: center;
    border-right: 4px solid var(--light);
}
.albuns{
    padding-left: 12vw;
    color: var(--light);
    font-weight: 600;
    font-size: 2rem;


}
.albumTittle{

  padding-top: 2vh;
 margin-left: 15vw;
}

.albumLyrics{
    color: var(--light);
    font-size: 1rem;
    font-weight: 200;
    
}

.stamp{
    filter: grayscale(51%);

}


.DiscograPhyPoster{
    margin-top: 5.5vh;
    display: grid;
    grid-template-areas:
                 "a b c d"
                 "e f g h "
                 "i i j k";
     grid-template-rows: 10vw 10vw 10vw 14vw;
     grid-template-columns: 9vw 9vw 9vw 12vw;
      gap: 6.5vh;
  
}


.Poster{
    width:9.7vw ;
    height:12.5vw ;
    }
    
    .container{
        position: absolute;
      
    }
    
    .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background: black;
    cursor: pointer;
    }
    
    .textOverlay{
        position: absolute;
        transform: translate(-50, -50);
        color: var(light);
        margin-top: 30%;
        font-size: 1.5rem;
        text-align: center;
        font-weight: 600;
    }
    
    .container:hover .overlay{
        opacity: 0.8;
    }

.discographyDetails{
color: var(--light);
font-size: 3rem;
font-weight: 200;
}

.lyrics{
    font-size: 1rem;
    font-weight: 200;
}

.spinTextDiscography{

    margin-top: 40vh;
    
}

.bookmark{
    margin-top: 9vh;
   margin-left: 12vw;
    
}