.discography{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

}

.discography::before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(img/backgroundDiscography.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
  
}


/* <nav>
            <ul class="menu">
                <li class="lHistory">
                    <a href="#history">
                        <p>History</p>
                    </a>
                </li>

                <li class="lBand">
                    <a href="#band">
                        <p>Band Members</p>
                    </a>
                </li>

                <li class="lDiscography">
                    <a href="#discography">
                        <p>Discography</p>
                    </a>
                </li>

                <li class="lContact">
                    <a href="#contact">
                        <p>Contact</p>
                    </a>
                </li>
            </ul>
        </nav>