:root{

    font-size: 15px;
   --light: rgb(252, 245, 228);
   --medium:rgb(247, 226, 207);
    --dark:rgb(19, 18, 18);
    --redish:rgb(192, 25, 25);

}

html{
    scroll-behavior: smooth;
 }



*::after,*,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}

ol, ul, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
   
    margin: 0;
    padding: 0px;

    background-color: rgb(250, 237, 221);
   

}

main{
     
    height: 598vh;
    width: 100%;

}

footer{

    height: 40px;
    opacity: 0.5;
    width: 100%;
   
}